#footer {
  background-color: #004f7a;
}

.social-media {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #004f7a;
  opacity: 0.8;
}

#facebook,
#instagram,
#youtube,
#x {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#facebook {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Logo_de_Facebook.png/250px-Logo_de_Facebook.png");
}

#instagram {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg");
}

#youtube {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png");
}

#x {
  background-image: url("https://cdn.cms-twdigitalassets.com/content/dam/legal-twitter/sharing-card.png.twimg.768.png");
}

/* Optional: Responsive */
@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }
}
