// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

$fuente_principal: 'Helvetica Neue', sans-serif;

// Colores
$rojo1: #780000;
$rojo2: #c1121f;
$blanco1: #fff;
$blanco2: #fdf0d5;
$azul1: #003049;
$azul2: #669bbc;

